@CHARSET "UTF-8";
body{
	background-color: #49aee4;
}
.body_w{
	background-color: white;
}
.login-center{
	width: 25%;
	margin: 0 auto;
	margin-top: 15%;
	text-align: center;
}
#logo-a{
	width: 320px;
	text-align: center;
	margin: 0 auto;
}
#logo{
	width: 350px;
	height: 100px;
	color: #78726d;
	font-size: xx-large;
	font-weight: bolder;
	padding-top: 50px;
	padding-right: 20px;
	box-sizing: border-box;
}
#logo-m{
	width: 95px;
	height: 100px;
	background-image: url("/m1/resources/img/logo.png");
	background-repeat: no-repeat;
    background-position: center;
    float: left;
}
.facebook{
	margin-top: 45px;
}
.kakao, .facebook{
	width: 100%;
	margin-bottom: 2%;
}
.email-login{
	margin-top: 20px;
}
#email-join{
	background-color: white;
	padding-left: 40px;
	padding-top:10px;
	padding-bottom: 10px;
	padding-right: 40px;
	border-radius: 1em;
	font-size: medium;
	font-weight: bold;
	color: black;
	text-decoration: none;
}
.email-login > a{
	font-size: small;
	text-decoration: none;	
	color: white;
	margin-top: 20px;
}
.email-login > p{
	margin-top: 30px;
	color: black;
	font-size: small;
	font-weight: bold;
}

/************JOIN************/
.body{
	background-color: #49aee4;
}
.join-center{
	width: 30%;
	margin: 0 auto;
	padding-top: 5%;
}
.join-center > h2, h6{
	text-align: center;
	color: white;
}
.join-center > h2{
	font-weight: bold;
}
.join-center > h6{
	font-weight: lighter;
}

.terms_border {
   width: 100%;
   margin: 0 auto;
}

.terms_border2 {
   width: 100%;
   margin: 0 auto;
   border-top: 2px solid #ffffff;
   border-bottom: 2px solid #ffffff;
   font-weight: bold;
   font-size: 15px;
   font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
}

.all {
   width: 100%;
   font-size: 17px;
   font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
   padding-top: 15px;
   padding-bottom: 15px;
}

.agree {
   width: 100%;
   padding-top: 10px;
   padding-bottom: 10px;
}

.point {
   color: red;
   padding-left: 7px;
   padding-right: 7px;
}

.see {
   font-weight: normal;
   font-size: 12px;
   float: right;
   color: #000000;
   border: none;
   background-color: white;
   cursor: pointer;
}

#choice {
   color: gray;
   padding-left: 7px;
   padding-right: 7px;
}

#sub {
   padding-left: 70px;
   color: gray;
   font-weight: normal;
   font-size: 12px;
   font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
   font-weight: normal;
}

.see1 {
   width: 100%;
   height: 200px;
   font-size: 13px;
   font-weight: normal;
   overflow: scroll;
   border: 1px solid #ffffff;
   display: none;
   font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
   background-color: white;
}

.see2 {
   width: 100%;
   height: 200px;
   font-size: 14px;
   font-weight: normal;
   overflow: scroll;
   border: 1px solid #ffffff;
   display: none;
   font-family: "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
   background-color: white;
}
form{
	margin-top: 15%;
}
input{
	background-color: transparent;
	border-color: transparent;
	outline:none;
	color: white;
	font-size: medium; 
}
::-webkit-input-placeholder {
	color: #e6e6e6; 
	font-size: small;
}
#btn2{
	float: right;
	color: black;
}
.p{
	border-bottom-color: white;
	border-bottom-style: solid;
	border-bottom-width: thin;
}
#id{
	border-bottom-color: white;
	border-bottom-width: thin;
}
.join_in2{
	border-bottom-color: white;
	border-bottom-width: thin;
}
.join_in{
	border-bottom-color: #bbbbbb;
	border-bottom-width: thin;
}
#street2{
	border: none;
}
#btn2, #nn, #btn-group > .btn, #btn{
 color : black;
 margin-left: 10px; 
 background-color: white;
 border-radius: 1em;
 border-color: transparent;
 font-size: small;
 padding: 2px 20px 2px 20px;
 text-decoration: none;
}
#goal{
	width: 70px;
	height: 25px;
}
#btn-group > .btn, #btn {
	font-size: medium;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom : 30px;
	float: right;
}

/************LOGIN************/
.login-center2{
	width: 25%;
	margin: 0 auto;
	padding-top: 5%;
}
.login-center2 > h2, h3, h6{
	text-align: center;
	color: white;
}
.login-center2 > h2{
	font-weight: bold;
}
.login-center2 > h3, h6{
	font-weight: lighter;
}

/***********PW FIND************/
#pw-center{
	width: 30%;
	height: 900px;
}
#pw-center > h2{
	color: black;	
}
#pw-center > h3{
	margin-top: 2%;
	font-size: large;
}
#pw-center > div{
	margin-top: 20%;
}
.p2{
	border-bottom-color: #bbbbbb;
	border-bottom-style: solid;
	border-bottom-width: thin;
}
.p2 > ::-webkit-input-placeholder {
	color: black;
}
#pw-center > p> #btn{
	margin-top: 20%;
	color: white;
	background-color: black;
}
/************MY PAGE************/
.dd{
	width: 90%;
	margin: 0 auto;
}
.sidenav {
    width: 130px;
	float: left;
    z-index: 1;
    margin-top: 12%;
    margin-left: 13%;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    display: block;
}

.m_menu{
	background-color: black;
	color: white;
	font-weight: normal;
}
.s_menu > a{
	font-size: 12px;
	color: black;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.mypage-center{
	width: 30%;
	height: 900px;
	margin-left: 40%;
	margin-top: 5%;
	padding-top: 5%;
}
.mypage-center > h2{
	text-align: center;
	color: black;
	font-weight: bold;
}
.info{
	margin-top: 20%;
	color: black;
}

.btn3, #btn4{
	text-decoration: none;
	font-size: medium;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom : 30px;
	float: right;
	 color : white;
	 margin-left: 10px; 
	 background-color: black;
	 border-radius: 1em;
	 border-color: transparent;
	 padding: 2px 20px 2px 20px;
}

/************UPDATE************/
.update-center{
	width: 30%;
	height: 900px;
	margin-left: 40%;
	margin-top: 5%;
	padding-top: 5%;
}
.update-center > h2{
	text-align: center;
	color: black;
	font-weight: bold;
}
.update-center > #frm{
	margin-top: 15%;
	color: black;
}
.update-center > #id{
	border-bottom: none;
}
#nn{
	color: white;
	background-color: black;
}
/************DELETE************/
.delete-center{
	width: 25%;
	height: 900px;
	margin-left: 40%;
	margin-top: 5%;
	padding-top: 5%;
}
.delete-center > h2{
	text-align: center;
	color: black;
	font-weight: bold;
}
.delete-center > #frm{
	margin-top: 30%;
	color: black;
}



