@CHARSET "UTF-8";

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  display: inline-block;
  width: 40px;
  height: 20px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
input[type="checkbox"] + label:after,
input[type="checkbox"] + label:before {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
#simple-3:checked + label.red {
  background: #ECA9A7;
}
#simple-3:checked + label.red:after {
  background: #D9534F;
}
#simple-3:checked + label.green {
  background: #AEDCAE;
}
#simple-3:checked + label.green:after {
  background: #5CB85C;
}
#simple-3:checked + label:after {
  left: calc(100% - 20px);
}
#simple-3 + label {
  background: #ddd;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 3px #aaa;
          box-shadow: 1px 1px 3px #aaa;
}
#simple-3 + label:after {
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 3px #aaa;
          box-shadow: 1px 1px 3px #aaa;
}