<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  	<mapper namespace="StudyMapper">
 
 	<select id="select" parameterType="String" >
 		select level_l from member where id=#{id}
 	</select>
 	
 		<select id="CheckProblem" parameterType="map" resultType="ProblemDTO">
 		<![CDATA[select * from PROBLEM_DATA_SAVE where id=#{id} and book=#{problem.book} and chapter=#{problem.chapter} and chapter_m=#{problem.chapter_m} and chapter_s=#{problem.chapter_s}]]>
 		 </select>
 		 
 		<select id="SelectProblem" parameterType="int" resultType="ProblemDTO">
		select a.*, b.my_answer from problem a,problem_data_save b where a.pnum = #{pnum} and b.pnum=#{pnum}
 		</select>
 		
 		<select id="SelectConcept" parameterType="ProblemDTO" resultType="ProblemDTO">
 		<![CDATA[select * from 
 		(select * from problem where book=#{book} and chapter=#{chapter} and chapter_m=#{chapter_m} and chapter_s=#{chapter_s} and rightcount/count between 0 and 0.2 order by dbms_random.value)
 		 where rownum<11]]>
 		 </select>
 		
 		
 		<update id="UpdateCount" parameterType="ProblemDTO">
 		update problem set count=count+1 where pnum = #{pnum}
 		</update>

  		<!-- <delete id="Delete" parameterType="MemberDTO">
  			delete member where id=#{id}
  		</delete>
  		
  		<select id="Login" parameterType="MemberDTO" resultType="MemberDTO">
  			select * from member where id=#{id} and pw=#{pw}
  		</select>
  		
  		
  		<insert id="Join" parameterType="MemberDTO">
  			insert into member values(#{id},#{pw},#{name},#{email},#{phone},#{age},#{job})
  		</insert>
  		
  		<update id="Update" parameterType="MemberDTO">
  		 	update member set pw=#{pw}, name=#{name}, email=#{email}, phone=#{phone}, age=#{age}, job=#{job} where id=#{id}
  		</update>
  		
  		
  		<select id="Check" parameterType="String" resultType="String">
  			select id from member where id=#{id}
  		</select> -->
  		
  	</mapper>