<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  	<mapper namespace="StudyMapper">
 
 	<select id="select" parameterType="String" >
 		select level_l from member where id=#{id}
 	</select>
 	
 		<select id="CheckProblem" parameterType="Map" resultType="ProblemDTO">
 		<![CDATA[select * from PROBLEM_DATA_SAVE where id=#{id} and book=#{problem.book} and chapter=#{problem.chapter} and chapter_m=#{problem.chapter_m} and chapter_s=#{problem.chapter_s}]]>
 		 </select>
 		 
 		<select id="SelectProblem" parameterType="int" resultType="ProblemDTO">
		select a.*, b.my_answer from problem a,problem_data_save b where a.pnum = #{pnum} and b.pnum=#{pnum}
 		</select>
 		
 		<select id="SelectConcept" parameterType="ProblemDTO" resultType="ProblemDTO">
 		<![CDATA[select * from 
 		(select * from problem where book=#{book} and chapter=#{chapter} and chapter_m=#{chapter_m} and chapter_s=#{chapter_s} and rightcount/count between 0 and 0.2 order by dbms_random.value)
 		 where rownum<11]]>
 		 </select>
 		
 		<insert id="SaveProblem" parameterType="ProblemDTO">
 			insert into problem_data_save values ('iu', #{pnum}, #{my_answer}, #{chapter}, #{chapter_m}, #{chapter_s}, #{type}, #{book},#{answer},#{commentary})
 		</insert>
 		
 		<update id="UpdateCount" parameterType="ProblemDTO">
 		update problem set count=count+1 where pnum = #{pnum}
 		</update>
 		
 		<update id="AnswerCheck" parameterType="ProblemDTO">
 		update problem_data_save set my_answer=#{my_answer} where pnum = #{pnum} and id = #{id}
 		</update>
 		
 		
 		<select id="Commentary" parameterType="int" resultType="String">
		select commentary from problem where pnum=#{pnum2}
		</select>
		
		<select id="MyNoteCheck" parameterType="ProblemDTO" resultType="ProblemDTO">
		select * from mynote where id=#{id} and pnum=#{pnum}
		</select>
		
		
		<insert id="MyNote" parameterType="ProblemDTO">
		insert into mynote values (#{id}, #{pnum}, #{my_answer}, 'wrong', sysdate)
		</insert>
		
		<update id="MyNote2" parameterType="ProblemDTO">
		update mynote set my_answer=#{my_answer}, reason = 'miss', reg_date = sysdate where id = #{id} and pnum = #{pnum}
		</update>
		
		
  		<!-- <delete id="Delete" parameterType="MemberDTO">
  			delete member where id=#{id}
  		</delete>
  		
  		<select id="Login" parameterType="MemberDTO" resultType="MemberDTO">
  			select * from member where id=#{id} and pw=#{pw}
  		</select>
  		
  		
  		<insert id="Join" parameterType="MemberDTO">
  			insert into member values(#{id},#{pw},#{name},#{email},#{phone},#{age},#{job})
  		</insert>
  		
  		<update id="Update" parameterType="MemberDTO">
  		 	update member set pw=#{pw}, name=#{name}, email=#{email}, phone=#{phone}, age=#{age}, job=#{job} where id=#{id}
  		</update>
  		
  		
  		<select id="Check" parameterType="String" resultType="String">
  			select id from member where id=#{id}
  		</select> -->
  		
  	</mapper>